<div class="main-wrapper card-futcracia">
        <h1>Partidas</h1>

        <ul>
            <% @matches.each do |match|%>
                <li>
                    <%= match.title%><br>
                    <%= match.home%><br>
                    <%= match.visitor%><br>
                </li>
            <%end%>
        </ul>
</div>
